<!doctype html>
<html ng-app="tdee">
    <head>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="tdee.js"></script>

        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="site.css" rel="stylesheet">
    </head>
    <body>
        <div ng-controller="TdeeCtrl" class="container">
            <div class="page-header">
                <h1>TDEE Calculator</h1>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <form ng-submit="calcTdee()" action="" role="form" class="form-horizontal input-lg">
                        <div class="form-group">
                            <label class="col-sm-2">Weight</label>
                            <div class="col-sm-10">
                                <input class="small-input" type="number" ng-change="updateLb()" ng-model="weightLb" placeholder="lbs"> lbs or 
                                <input class="small-input" type="number" ng-change="updateKg()" ng-model="weight" placeholder="kgs"> kgs
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Height</label>
                            <div class="col-sm-10">
                                <input class="small-input" type="number" ng-change="updateIn()" ng-model="heightFt" placeholder="ft" min="0"> ft
                                <input class="small-input" type="number" ng-change="updateIn()" ng-model="heightIn" placeholder="in" min="0" max="11"> inches or 
                                <input class="small-input" type="number" ng-change="updateCm()" ng-model="height" placeholder="cm" min="0"> cm
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Age</label>
                            <div class="col-sm-10">
                                <input class="small-input" type="number" ng-change="calcTdee()" ng-model="age" placeholder="Age">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Sex</label>
                            <div class="col-sm-10">
                                <label>
                                    <input type="radio" ng-change="calcTdee()" ng-model="sex" value="male">
                                    Male
                                </label>
                                <label>
                                    <input type="radio" ng-change="calcTdee()" ng-model="sex" value="female">
                                    Female
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Activity Level</th>
                                <th>kcal/day</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>BMR</td>
                                <td><strong>{{bmr | number: 0}}<strong></td>
                            </tr>
                            <tr>
                                <td>Sedentary (1.2x)</td>
                                <td><strong>{{bmr * 1.2 | number: 0}}<strong></td>
                            </tr>
                            <tr>
                                <td>Lightly active (1.375x)</td>
                                <td><strong>{{bmr * 1.375 | number: 0}}<strong></td>
                            </tr>
                            <tr>
                                <td>Moderately active (1.55x)</td>
                                <td><strong>{{bmr * 1.55 | number: 0}}<strong></td>
                            </tr>
                            <tr>
                                <td>Custom: <input class="small-input" step="0.1" type="number" ng-model="customMultiplier">x</td>
                                <td><strong>{{bmr * customMultiplier | number: 0}}<strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer">
            </div>
        </div>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
